[run]
branch = True
source = src/scraping
omit =
    */tests/*
    */test_*.py
    */__init__.py
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abstractproperty
    class .*\bProtocol\):
    
precision = 2
skip_covered = False
skip_empty = True

[html]
directory = htmlcov
